<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CadExtension.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CadExtension.Settings1>
            <setting name="connstr" serializeAs="String">
                <value>server=.;database=CadDb;uid=sa;pwd=mert0705</value>
            </setting>
        </CadExtension.Settings1>
    </applicationSettings>
</configuration>